{:paths ["src"]
 :deps {github.com.DeathStarGame/deathstar.ltee.multiplayer.remote.meta {:local/root "../meta"}
        github.com.DeathStarGame/deathstar.ltee.multiplayer.hub.meta {:local/root "../../hub/meta"}}}