{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/core.async {:mvn/version "1.3.610"}

        org.clojure/spec.alpha {:mvn/version "0.2.187"}
        org.clojure/test.check {:mvn/version "1.0.0"}

        org.clojure/tools.cli {:mvn/version "1.0.194"}

        clj-http {:mvn/version "3.10.1"}

        com.cognitect/transit-clj  {:mvn/version "1.0.324"}

        github.com.cljctools/cljc {:local/root "../../../../cljctools/cljc"}
        github.com.cljctools/csp {:local/root "../../../../cljctools/csp"}

        github.com.DeathStarGame/deathstar.ltee.server.meta {:local/root "../meta"}
        github.com.DeathStarGame/deathstar.ltee.hub {:local/root "../../hub/impl"}
        github.com.DeathStarGame/deathstar.ltee.meta {:local/root "../../../src/meta"}
        github.com.DeathStarGame/deathstar.ltee.hub.remote {:local/root "../../hub/remote/impl"}

        github.com.DeathStarGame/deathstar.ltee.scenario.rovers1 {:local/root "../../scenario/rovers1"}
        github.com.cljctools/net.server {:local/root "../../../../cljctools/net/server/impl/pedestal"}
        github.com.cljctools/nrepl {:local/root "../../../../cljctools/nrepl/impl/jvm"}}}