{:paths ["src" "resources"]

 :deps {}

 :aliases
 {:core
  {:extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}
                org.clojure/clojurescript {:mvn/version "1.10.758"}
                org.clojure/core.async {:mvn/version "1.3.610"}
                org.clojure/spec.alpha {:mvn/version "0.2.187"}
                org.clojure/test.check {:mvn/version "1.0.0"}}
   :override-deps {tick/tick {:git/url "https://github.com/juxt/tick"
                              :sha "4438103d96e00927f777229bc22576bf4fd6c901"
                              :tag "0.4.31-alpha"}}}

  :ui
  {:extra-deps {reagent/reagent {:mvn/version "1.0.0-rc1"
                                 :exclusions [cljsjs/react cljsjs/react-dom]}

                metosin/reitit {:mvn/version "0.5.12"}
                metosin/reitit-spec {:mvn/version "0.5.12"}
                metosin/reitit-frontend {:mvn/version "0.5.12"}}}

  :app
  {:extra-deps {ring/ring-jetty-adapter {:mvn/version "1.8.1"}
                metosin/reitit  {:mvn/version "0.5.12"}
                aleph/aleph {:mvn/version "0.4.7-alpha5"}
                ring-cors/ring-cors {:mvn/version "0.1.13"}
                tick/tick {}}}

  :shadow
  {:extra-deps {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.7"
                                                   :exclusions [nrepl/nrepl
                                                                cider/piggieback
                                                                org.clojure/clojure
                                                                org.clojure/clojurescript
                                                                org.clojure/core.async]}
                             nrepl/nrepl {:mvn/version "0.6.0"}
                             cider/cider-nrepl {:mvn/version "0.24.0"}
                             cider/piggieback {:mvn/version "0.4.2"}}}}

  :repl
  {:extra-deps {github.cljctools/deps-repl {:git/url "https://github.com/cljctools/deps-repl"
                                            :sha "08283d3841c5948b0b9d36a977ebfdad111cdb2f"
                                            :tag "v2.0.1"}
                nrepl/nrepl {:mvn/version "0.8.3"}
                cider/cider-nrepl {:mvn/version "0.25.5"}}
   :main-opts ["-m" "lambdaisland.nrepl.main"
               "--init-ns" "cljctools.edit.core-test"
               "--port" "7788"
               "--bind" "0.0.0.0"
               "--middleware" "cider.nrepl/cider-middleware"]}}}