{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.3.610"}
        org.clojure/spec.alpha {:mvn/version "0.2.187"}
        tick/tick {:git/url "https://github.com/juxt/tick"
                   :sha "4438103d96e00927f777229bc22576bf4fd6c901"
                   :tag "0.4.31-alpha"}

        github.cljfx/cljfx {:git/url "https://github.com/cljfx/cljfx"
                            :sha "ec3c34e619b2408026b9f2e2ff8665bebf70bf56"}
        io.replikativ/datahike {:mvn/version "0.3.6"}
        github.cljctools.cljctools/fs-jvm {:local/root "../cljctools/fs-jvm"}}

 :main-opts ["-m" "DeathStarGame.main"]

 :aliases
 {:main
  {:jvm-opts ["-Dclojure.compiler.direct-linking=true"]
   :main-opts ["-m" "DeathStarGame.main"]}

  :repl
  {:extra-deps {github.cljctools/deps-repl {:git/url "https://github.com/cljctools/deps-repl"
                                            :sha "9675509eb9969e1288baf9b8a4ced95f83e3c734"}
                nrepl/nrepl {:mvn/version "0.8.3"}
                cider/cider-nrepl {:mvn/version "0.25.5"}}
   :main-opts ["-m" "cljctools.deps-repl.main"
               "--init-ns" "DeathStarGame.main"
               "--port" "7788"
               "--bind" "0.0.0.0"
               "--middleware" "cider.nrepl/cider-middleware"]}

  :depstar
  {:replace-deps {com.github.seancorfield/depstar {:git/url "https://github.com/seancorfield/depstar"
                                                   :sha "89d6557a868ff475063558e0199485f28fba403b"
                                                   :tag "2.0.211"}}
   :ns-default hf.depstar
   :exec-args {}}}}