{:paths ["src"]
 :deps {github.DeathStarGame.deathstar-scenarios.rovers/player-main-meta {:local/root  "../player-main-meta"}
        github.DeathStarGame.deathstar-scenarios.rovers/player-meta {:local/root  "../player-meta"}
        github.DeathStarGame.deathstar-scenarios.rovers/player {:local/root  "../player"}
        github.DeathStarGame.deathstar-scenarios.rovers/scenario-meta {:local/root  "../scenario-meta"}
        github.DeathStarGame.deathstar-scenarios.rovers/scenario-core {:local/root  "../scenario-core"}}}