{:paths ["src" "test" "resources" "classes"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}
             }
 :deps {}
 :aliases
 {:core {:extra-deps
         {org.clojure/clojure {:mvn/version "1.10.1"}

          com.cognitect/transit-clj {:mvn/version "1.0.324"}
          org.apache.kafka/kafka-clients {:mvn/version "2.4.0"}
          org.apache.kafka/kafka-streams {:mvn/version "2.4.0"
                                          :exclusions [org.rocksdb/rocksdbjni]}
          org.rocksdb/rocksdbjni {:mvn/version "6.5.3"} #_{:mvn/version "5.18.3"}

          nrepl {:mvn/version "0.6.0"}
          cider/cider-nrepl {:mvn/version "0.21.1"}

          juxt/crux-core {:mvn/version "20.03-1.8.0-alpha"}
          juxt/crux-rocksdb {:mvn/version "20.03-1.8.0-alpha"
                             :exclusions [org.rocksdb/rocksdbjni]}
          juxt/crux-kafka {:mvn/version "20.03-1.8.0-alpha"
                           :exclusions [org.apache.kafka/kafka-clients]}

          io.pedestal/pedestal.service {:mvn/version "0.5.7"}
          io.pedestal/pedestal.route   {:mvn/version "0.5.7"}
          io.pedestal/pedestal.jetty   {:mvn/version "0.5.7"}

          buddy/buddy-auth {:mvn/version "2.2.0"}
          buddy/buddy-sign {:mvn/version "3.1.0"}
          clj-time {:mvn/version "0.15.2"}
          cheshire {:mvn/version "5.10.0"}}}
  :dev {:extra-deps
        {}}
  :optimized {:extra-deps {}}
  :local {:extra-deps {common {:local/root "../common"}}}}
}
