{:deps         true
 :nrepl {:host "0.0.0.0"
         :port 5100}
 :http {:port 5101
        :host "0.0.0.0"}
 :builds {:extension {;;       :target :node-library
                      :target :node-script
                      :main mult.extension/main
                      :exports-var mult.extension/exports
                      :output-to "resources/out/extension.js"
                      :compiler-options {:optimizations :simple
                                        ;;  :dump-core false
                                         :stable-names true
                                         :infer-externs   false #_:auto
                                         :recompile-dependents true
                                         :source-maps true
                                        ;;  :verbose true
                                         }
                      :devtools {:repl-init-ns mult.extension
                                 :repl-pprint true
                                 :autobuild true
                                 :devtools-url "http://localhost:5101"
                                 :after-load mult.extension/reload}}
          :tabapp {:target :browser
                   :output-dir "resources/out"
                   :asset-path "/out"
                   :module-loader true
                   :modules {:tabapp {:entries [mult.impl.tabapp]}}
                   :compiler-options {:infer-externs   false #_:auto
                                      :closure-warnings {:global-this :off}
                                      :closure-defines  {"mult.impl.tabapp._some_val_"         true}}
                   :devtools {:repl-init-ns mult.impl.tabapp
                              :repl-pprint true
                              :autobuild true
                              :devtools-url "http://localhost:5101"
                              :http-root  "resources"
                              :http-port  5102}}

          :bootstrap {:target :bootstrap
                      :output-dir "resources/out/bootstrap"
                      :exclude #{cljs.js}
                      :compiler-options {:infer-externs   false #_:auto}
                      :entries [cljs.js mult.extension mult.impl.self-hosting clojure.core.async mult.impl.conf]
                      :macros []}}}