{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/core.async {:mvn/version "1.1.587"}
        org.clojure/clojurescript {:mvn/version "1.10.597"}
        reagent {:mvn/version "1.0.0-alpha2"}

        ext/starnet.core {:local/root "../core"}

        ext/host.client {:local/root "../../../system/ui/ext/host/client"}
        ext/router.client {:local/root "../../../system/ui/ext/router/client"}}}
