{:paths ["src" "resources"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}}
 :deps {org.clojure/clojure         {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.758"}
        org.clojure/spec.alpha {:mvn/version "0.2.187"}
        org.clojure/test.check {:mvn/version "1.0.0"}
        org.clojure/core.async {:mvn/version "1.1.587"}
       ;;  andare/andare {:mvn/version "1.1.587"}
        reagent/reagent {:mvn/version "1.0.0-rc1" :exclusions [cljsjs/react cljsjs/react-dom]}

        metosin/reitit {:mvn/version "0.5.12"}
        metosin/reitit-spec {:mvn/version "0.5.12"}
        metosin/reitit-frontend {:mvn/version "0.5.12"}
        ;; Just for pretty printting the match
        fipp {:mvn/version "0.6.23"}

        github.DeathStarGame/spec {:local/root  "../spec"}}
 :aliases {:dev {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.7"
                                                    :exclusions [nrepl/nrepl
                                                                 cider/piggieback
                                                                 org.clojure/clojure
                                                                 org.clojure/clojurescript
                                                                 org.clojure/core.async]}
                              nrepl/nrepl {:mvn/version "0.6.0"}
                              cider/cider-nrepl {:mvn/version "0.24.0"}
                              cider/piggieback {:mvn/version "0.4.2"}}}}}