{:deps         true

 :nrepl        {:port 8899
                :host "0.0.0.0"
              ;   :init-ns starnet.ui.alpha.main
                }

 :http {:port 9630
        :host "0.0.0.0"}
 :builds
 {:app {:target :browser
        :output-dir "resources/public/js-out"
        :asset-path "/js-out"
        :module-loader true
        :modules
        {:main {:entries [starnet.ui.alpha.main]}}

        :compiler-options
        {:infer-externs    :auto
         :closure-warnings {:global-this :off}
         :closure-defines  {"starnet.ui.alpha.main._some_val_"         true}}

        :devtools
        {:repl-init-ns starnet.ui.alpha.main
         :repl-pprint true
         :http-root  "resources/public"
         :http-port  9500
       ;   :preloads   [day8.re-frame-10x.preload]
         }}
  :test {:target    :browser-test
         :test-dir  "resources/public/js-out/test"
         :runner-ns ui.alpha.tests
         :compiler-options
         {:infer-externs    :auto
          :closure-warnings {:global-this :off}
          :closure-defines  {"starnet.ui.alpha.main._some_val_"         true}}
         :devtools
         {:http-root  "resources/public/js-out/test"
          :http-port  9501}}}}
